<ul class="list-group m-3 w-50">
  <div class="m-4" *ngIf="stanze.length > 0; else noStanze">
    <li class="list-group-item list-group-item-action p-3" *ngFor="let stanza of stanze" (click)="creaPrenotazione(stanza)">
      <span class="fw-bold">{{ "Tipologia: "}}</span> {{ stanza.tipologia }} <br> 
      <div class="d-flex justify-content-between">
        <span>{{ stanza.descrizione }}</span>
        <span class="text-primary">{{ stanza.prezzo }}$</span>
      </div>
    </li>
  </div>
</ul>

<!-- Metto l'ngIf per decidere se inserire nel DOM o no il contenuto dell'elemento <div>. L'elemento <div> -al quale è correlato- verrà creato o distrutto in base al predicato che passiamo all'ngIf -->
<div class="m-4" *ngIf="stanzePrenotate.length > 0; else noPrenotazioni">
  <h3 class="m-4">Stanze Prenotate:</h3>
  <ul class="list-group m-3 w-50">
    <li class="list-group-item list-group-item-action p-3" *ngFor="let stanza of stanzePrenotate">
      <span class="fw-bold">{{ "Tipologia: "}}</span> {{ stanza.tipologia }} <br> 
      <div class="d-flex justify-content-between align-items-end">
        <span>{{ stanza.descrizione }}</span>
        <button class="btn btn-danger" (click)="rimuoviPrenotazione(stanza)">Rimuovi prenotazione</button>
      </div>
    </li>
  </ul>
  <p class="m-4" (change)="incassoTotale()">
    <span class="fw-bold">{{"Incasso totale: "}}</span> {{incassoTotale()}}$
  </p>
</div>


<ng-template #noPrenotazioni>
  <span class="m-5 text-danger fw-bold">Non ci sono prenotazioni</span>
</ng-template>

<ng-template #noStanze>
  <span class="m-4 text-danger fw-bold">Non ci sono stanze prenotabili</span>
</ng-template>